main {
    display: grid;
    max-width: 60em;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    text-align: center;
}
main span {
    display: inline-block;
}
header,
.searching {
    text-align: center;
    margin: 1em;
}
nav {
    display: flex;
    justify-content: center;
    gap: 1em;
}