body {
    margin: 0;
}
h1 {
    margin: 0;
}
main {
    display: grid;
    max-width: 60em;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    text-align: center;
}
main span {
    display: inline-block;
}
header,
.searching {
    text-align: center;
    margin: 1em;
}
nav {
    display: flex;
    justify-content: center;
    gap: 1em;
}
footer img {
    max-width: 2em;
}
footer {
    background-color: lightblue;
    padding: 2em;
    display: grid;
    grid-auto-rows: 1fr 1fr;
    text-align: center;
    justify-content: center;
    grid-gap: 1em;
}
header {
    background-color: lightblue;
    margin: 0;
    padding: 2em;
}